
<div class="card-header col-md-12  border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Wind Speed</span>
  </h3>
  <div class="card-toolbar" data-kt-buttons="true">
    <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1  " id="kt_charts_widget_3_year_btn" (click)="displayYearData()" [ngClass]="yearToggle?'active': ''">Today</a>
    <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1" id="kt_charts_widget_3_month_btn" (click)="displayMonthData()" [ngClass]="monthToggle?'active': ''"> Month </a>
    <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4" id="kt_charts_widget_3_week_btn" (click)="displayWeekData()" [ngClass]="weekToggle?'active': ''">Year</a>
  </div>

</div>
<div class="card-body col-md-12">

  <div #chartRef id="kt_charts_widget_3_chart" [style.height]="'350px'">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend" [fill]="chartOptions.fill" [states]="chartOptions.states"
      [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors" [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"></apx-chart>
  </div>
 
</div>

<p>{{results}}</p>