
// .table-responsive{
//   overflow-y: auto;
//   height: 110px;
// }
// .fixTableHead thead th {
//   position: sticky;
//   top: 0;
// }
// table {
//   border-collapse: collapse;
//   width: 100%;
// }
.table-responsive{
	display: block;
	height: 650px;
	overflow: auto;
	width: 100%
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: #045d5d;

}
.body{
  font-size: 10px;
}
.table-responsive{
  background-color:#ffff ;
//   border:solid black;
 }
.green{
  color: #28a745;
}
.teal{
  color:#20c997;
}
.orange{
  color:#fd7e14;
}
.yellow{
  color:#ffc107;
}
.pink{
  color:#da4187;
}
.cyan{
  color:#17a2b8
}
.secondary{
  color:#6c757d;
}
.dark{
  color:#343a40;
}
.gray{
  color:#343a40;
}
.card-body{

}



