
<div class="A" >
<div class="card-body">

  <div class="row ">
    <!-- <div class="col bg-success  px-10 py-10 rounded-2 me-3"> -->
      <div class="col bg-success rounded-2 me-3 text-dark fw-bolder fs-1 ">
        
      <app-stats-widget3 class="card text-dark card-xl-stretch mb-5 mb-xl-8" color="primary" title="1 min Average"
        description="Wind Speed 3 min ">
        
       
      </app-stats-widget3>
      </div>
     

  <!-- <div class="col bg-success px-10 py-10 rounded-2 me-3  "> -->
    <div class="col bg-success rounded-2 me-3 text-dark fs-1 fw-bolder ">
    <app-stats-widget3 class="card text-dark card-xl-stretch mb-5 mb-xl-8" color="primary" title="3 min Average"
      description="Wind Speed 3 min ">
    
    </app-stats-widget3>
  </div>
  
     
  
 
    
      <!-- <div class="col bg-success rounded-2 me-3  ">
      <app-stats-widget3 class="card card-xl-stretch mb-5 mb-xl-8" color="primary" title="WD 1 min"
      description="Wind Direction 1 min"></app-stats-widget3>
  </div>
   
      <div class="col bg-success rounded-2 me-3  ">
      <app-stats-widget3 class="card card-xl-stretch mb-5 mb-xl-8" color="primary" title="WD 3 min"
        description="Wind Direction 3 min"></app-stats-widget3>
    </div> -->
  </div>

</div>
</div>
 

 

 
  


    

   