<div>
  <div class="card-body d-flex flex-column p-0">
    <div class=" card-p">
      <div class="d-flex flex-column me-2 align-items-center">
        {{title}}
        <a href="#" class="text-dark align-items-center fs-5">

          <div class="container text-center">
            <table class="col align-items-start">
              <div class="table">
                <thead>
                <tr>
                <th scope="col">WS 1 min Average</th>
                <th scope="col">WS 3 min Average</th>
                <th scope="col">Pressure Average</th>
              </tr>
            </thead>

              </div>


            </table>
          </div>
        </a>

        <!-- <span class="text-muted mt-1">
        <ng-content select="description"></ng-content>
      </span> -->
      </div>

      <!-- <span class="symbol symbol-50px">
      <span
        class="symbol-label fs-5  h-100"
        [ngClass]="'bg-light-' + color"
        [ngClass]="'text-' + color"
      >
        {{ change }}
      </span>
    </span> -->
    </div>

    <!-- <div
    #chartRef
    class="statistics-widget-3-chart card-rounded-bottom"
    [style.height]="'150px'"
  >
    <apx-chart
      type="area"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [states]="chartOptions.states"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
  </div> -->
  </div>

</div>