<!-- <div class=" col d-flex ">


  <div class="d-flex flex-column justify-content-center align-items-center ab">
    <table class="col-md-11 cd">
      <tr>
        <th colspan="2" class=" align-items-center">
          <h2 class="justify-content-center align-items-center">Instantaneous</h2>
        </th>
      </tr>
      <tr>
        <th>Parameter</th>
        <th>Values</th>
      </tr>
      <tr>
        <td>Wind Speed(Knot)</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Wind Direction(Deg)</td>
        <td>330</td>
      </tr>
      <tr>
        <td>Wind Pressure(mbar)</td>
        <td>999</td>
      </tr> -->




      <!-- <thead>
        <tr>

        </tr>
        <tr>
          <th scope="col">Wind Speed(Knot)</th>
          <th scope="col">8</th>
        </tr>


        <tr>
          <th>Wind Direction(Deg)</th>
          <th>330</th>
        </tr>
        <tr>
          <th>Wind Pressure(mbar)</th>
          <th>999</th>
        </tr>

    </thead> -->
    <!-- </table> -->



  <!-- </div>
  <div class="w-100 ">
    <div class="d-flex justify-content-end ">
      <div class="filter" aria-labelledby="dropdownMenuButton">

        <select id="country-state" name="country-state" (change)="updateData(city.value)" #city
          class="form-select col-2 bg-primary text-white">
          <option value="">--STATION--</option>
          <option value="43243KVL">NALIYA</option>
          <option value="43244KVL">BHUJ</option>
          <option value="43245KVL">HALDIYA</option>
          <option value="43246KVL">BALASORE</option>
          <option value="43247KVL">DIGHA</option>
          <option value="43248KVL">VERAVAL</option>
          <option value="43249KVL">PARADEEP</option>
          <option value="43242KVL">GOPALPUR</option>
          <option value="43241KVL">PURI</option>
          <option value="43240KVL">KALINGAPATNAM</option>
          <option value="43239KVL">VISHAKHAPATNAM</option>
          <option value="43238KVL">MACHILIPATNAM</option>
          <option value="43238KVL">KAKINADA</option>
          <option value="43238KVL">PANJIM</option>
          <option value="43238KVL">NELLORE</option>
          <option value="43238KVL">CHENNAI</option>
          <option value="43238KVL">KARAIKAL</option>
          <option value="43238KVL">ONGOLE</option>
          <option value="43238KVL">PORT BLAIR</option>
          <option value="43238KVL">PAMBAN</option>
          <option value="43238KVL">KAVALI</option>
          <option value="43238KVL">KANYAKUMARI</option>
          <option value="43238KVL">ADIRAMPATTINAM</option>
          <option value="43238KVL">SALT LAKE</option>
          <option value="43238KVL">CHANDBALI</option>
          <option value="43238KVL">CUDDALORE</option>
          <option value="43238KVL">BHUBANESHWAR</option>
          <option value="43238KVL">RATNAGIRI</option>
          <option value="43238KVL">TONDI</option>
          <option value="43238KVL">PUDUCHERRY</option>
          <option value="43238KVL">NAGAPATTINAM</option>
          <option value="43238KVL">THOOTHUKUDI</option>
          <option value="43238KVL">MORMUGOA</option>
          <option value="43238KVL">SHRINAGAR</option>
        </select>
      </div>
    </div> -->

    <!-- <html lang="en">

      <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <body> -->


    <!-- <div class="row col-md-12  ">

      <div class="col col-md-5 col-lg-6 col-sm-12 ">
        <div class=" d-flex align-items-center  flex-column a">
          <h2>1 min Average</h2>

          <table class="table table-bordered fw-bolder align-items-center table-striped">
            <thead>
              <tr class="fw-bolder ">
                <th>Wind Speed(Knot)</th>
                <th>Wind Direction(Deg)</th>
                <th>Wind Pressure(mbar)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>14</td>
                <td>18</td>
                <td>233</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2 col-lg-6 col-sm-12 ">
        <div class=" d-flex align-items-center  flex-column a">
          <h2>3 min Average</h2>

          <table class="table table-bordered fw-bolder ">
            <thead>
              <tr class="fw-bolder">
                <th>Wind Speed(Knot)</th>
                <th>Wind Direction(Deg)</th>
                <th>Wind Pressure(mbar)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>16</td>
                <td>12</td>
                <td>220</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div> -->



<!--
    <div class="col-xxl-12 ">
      <app-charts-widget3 class="card card-xxl-stretch mb-xl-3" [windSpeedOneData]="windSpeedOneMinut"
        [windSpeedThreeData]="windSpeedThreeMinut" chartWidth="100px"></app-charts-widget3>
    </div> -->

    <!-- <div class="card-body p-0">
            <div class="row ">
              <div class="col-xxl-12 d-flex w-100 mixed-container">

                <app-charts-widget9 class="card card-xxl-stretch mb-xl-3" [windSpeedMax]="windSpeedMaximum"
                  chartWidth="100px"></app-charts-widget9>

                <app-charts-widget2  [windSpeedOneData]="windSpeedOneMinut"
                  [windSpeedThreeData]="windSpeedThreeMinut" class="card card-xxl-stretch mb-xl-3" chartWidth="100px">
                </app-charts-widget2>



            </div>
          </div>
        </div> -->

  <!-- </div>
</div> -->
<!-- <div>
  <app-charts-widget10></app-charts-widget10>
</div> -->
<!-- <div class="row gy-5 g-xl-8"> -->
  <!-- <div class="row g-5 gx-xxl-8"> -->
    <div class="r">
      <div class=" row g-5  gx-xl-8 m ">
        <div class="col-xl-4 col-sm-12">                                  <!--xxl-->
          <app-charts-widget10
          class="card card-xxl-stretch "
          chartWidth="200px"
        ></app-charts-widget10>
        </div>
        <div class="col-xl-8">
          <app-tables-widget14
          class="card card-xxl-stretch "
          chartWidth="200px"
          ></app-tables-widget14>

        </div>
      </div>
    </div>

<!-- <div class="col-xl-14">
  <div class="col-xl-12">
    <app-charts-widget10>

  ></app-charts-widget10>
  <app-charts-widget9>

    ></app-charts-widget9>
  </div>

  </div> -->

    <!-- <app-mixed-widget2
      class="card card-xl-stretch mb-xl-8"
      chartColor="danger"
      chartHeight="200px"
      strokeColor="#cb1e46"
    ></app-mixed-widget2> -->

<!-- <div>
  <app-tables-widget13></app-tables-widget13>
</div> -->
